/*---------------------------------------------Images-------------*/

#img-bg-main {
  background-image: url(../images/Main-Menu-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

#img-bg-game {
  background-image: url(../images/game-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/*---------------------------------------------Icons-------------*/

.rank-bronze {
  color: #CD7F32;
  font-size: 7.5rem;
  margin: 25px;
  border: 6px inset #fafafa;
  border-radius: 7px 7px 7px 7px;
}

.rank-silver {
  color: #C0C0C0;
  font-size: 7.5rem;
  margin: 25px;
  border: 6px inset #fafafa;
  border-radius: 7px 7px 7px 7px;
}

.rank-gold {
  color: #FFD700;
  font-size: 7.5rem;
  margin: 25px;
  border: 6px inset #fafafa;
  border-radius: 7px 7px 7px 7px;
}

.rank-diamond {
  color: #b9f2ff;
  font-size: 7.5rem;
  margin: 25px;
  border: 6px inset #fafafa;
  border-radius: 7px 7px 7px 7px;
}


/*---------------------------------------------Buttons + hovers-------------*/

button:hover {
  cursor: crosshair;
}


label {
  font-family: 'Changa', sans-serif;
  margin-right: 5px;
}


input[type="checkbox"] {
  background: #fafafa;
  border: 2px inset grey;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 25px 0px;
  vertical-align: middle;
  padding: 0;
}

.dropdown-menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(440px, 80px, 0px);
  z-index: 1;
  width: fit-content;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  background: rgba(138, 131, 134, 0.4);
  border: 3px inset #fafafa;
}

.dropdown-item {
  font-family: 'Orbitron', sans-serif;
  font-size: calc(0.8rem + 1.5vw);
  font-weight: 500;
  width: 186px;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  background: rgba(138, 131, 134, 0.4);
  border: 3px inset #fafafa;
  color: #fafafa;
  margin: 10px 0px;
  text-align: center;
}

.btn-option {
  font-family: 'Changa', sans-serif;
  width: 240px;
  height: 30px;
  margin: 10px;
  font-weight: 700;
  font-size: calc(0.6rem + 1.5vw);
  box-shadow: 6px 6px 6px;
  border: 3px inset #3c3939;
  border-radius: 5px 20px 5px 5px;
  background: #91A4A1;
  background: -moz-linear-gradient(-45deg, #91A4A1 0%, #FAFAFA 85%, #636B75 100%);
  background: -webkit-linear-gradient(-45deg, #91A4A1 0%, #FAFAFA 85%, #636B75 100%);
  background: linear-gradient(135deg, #91A4A1 0%, #FAFAFA 85%, #636B75 100%);
}

.btn-option:hover {
  color: #2b8bc4;
  cursor: crosshair;
}

.btn-main-menu {
  font-family: 'Orbitron', sans-serif;
  font-size: calc(0.5rem + 1.5vw);
  color: black;
  width: 260px;
  height: 60px;
  font-weight: 800;
  margin: 10px 30px;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 3px 3px 3px;
  background: #91a4a1;
  background: -moz-linear-gradient(-45deg,
      #91a4a1 0%,
      #fafafa 85%,
      #636b75 100%);
  background: -webkit-linear-gradient(-45deg,
      #91a4a1 0%,
      #fafafa 85%,
      #636b75 100%);
  background: linear-gradient(135deg, #91a4a1 0%, #fafafa 85%, #636b75 100%);
}

#btn-rules {
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  font-size: calc(1.5rem + 1.5vw);
  color: #fafafa;
  border: 4px double #fafafa;
  box-shadow: 3px 3px 3px black;
  border-radius: 20px 0px 20px 0px;
  background: #7192ff;
  background: -moz-linear-gradient(-45deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
  background: -webkit-linear-gradient(-45deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
  background: linear-gradient(135deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
}

#close-rules-btn {
  margin: 20px;
  border-radius: 20px 0px 20px 0px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  width: fit-content;
  background-color: #fafafa;
  height: fit-content;
  box-shadow: 3px 3px 3px;
}

#close-rules-btn:hover,
.btn-main-menu:hover {
  background: dimgrey;
}

#btn-start {
  font-family: 'Orbitron', sans-serif;
  border: 4px double #fafafa;
  font-size: calc(1.5rem + 1.5vw);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  box-shadow: 3px 3px 3px black;
  border-radius: 20px 0px 20px 0px;
  background: #7192ff;
  background: -moz-linear-gradient(-45deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
  background: -webkit-linear-gradient(-45deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
  background: linear-gradient(135deg,
      #7192ff 0%,
      #06233a 50%,
      #144e75 100%);
}

#btn-rules:hover,
#btn-start:hover {
  background: #354c99;
}

#btn-options {
  font-family: 'Orbitron', sans-serif;
  background: rgba(138, 131, 134, 0.4);
  color: #fafafa;
  border: 3px inset #fafafa;
  border-radius: 20px 20px 20px 20px;
  ;
  padding: 7px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  float: right;
  margin-top: 34px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px black;
}

#btn-close-options,
#btn-exit {
  margin-left: 35px;
}

/*---------------------------------------------Text-Areas-------------*/

.rules-header {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  text-indent: 2rem;

}

.rules-container {
  font-family: 'Changa', sans-serif;
  font-weight: 200;
  display: block;
  color: #fafafa;
  background-color: indigo;
  border: 8px double black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  font-size: calc(0.8rem + 1.5vw);
}

.player-score {
  font-family: 'Changa', sans-serif;
  margin: 20px 0px;
  padding: 0px;
  font-size: calc(1.7rem + 1.5vw);
  font-weight: 900;
  color: #fafafa;
}

.options-container {
  font-family: 'Goldman', cursive;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fafafa;
  background-color: #74049e;
  border: 3px inset #fafafa;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.quiz-container {
  border: 6px inset #fafafa;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  background-color: #130436;
  background: -moz-linear-gradient(-45deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
  background: -webkit-linear-gradient(-45deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
  background: linear-gradient(135deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
}

.container-game-end {
  font-family: 'Goldman', cursive;
  font-size: calc(0.4rem + 1.5vw);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: 8px inset #fafafa;
  border-radius: 5px 5px 5px 5px;
  color: #fafafa;
  background-color: #130436;
  background: -moz-linear-gradient(-45deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
  background: -webkit-linear-gradient(-45deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
  background: linear-gradient(135deg,
      #130436 0%,
      #74049E 29%,
      #3F0468 100%);
}

.bronze-text {
  color: #CD7F32;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  letter-spacing: 0.4rem;
}

.silver-text {
  color: #C0C0C0;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  letter-spacing: 0.4rem;
}

.gold-text {
  color: #FFD700;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  letter-spacing: 0.4rem;
}

.diamond-text {
  color: #b9f2ff;
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  letter-spacing: 0.4rem;
}

#question-area {
  font-family: 'Changa', sans-serif;
  margin: 10px;
  font-weight: 200;
  color: #fafafa;
  font-size: calc(0.7rem + 1.5vw);
  padding: 0;
}

#question-counter {
  font-family: 'Orbitron', sans-serif;
  font-size: calc(0.4rem + 1.5vw);
  font-weight: 900;
  color: #fafafa;
}

#answer-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------Animated-Elements-------------*/

.add-one {
  font-family: 'Orbitron', sans-serif;
  font-size: calc(1.3rem + 1.5vw);
  font-weight: 900;
  color: #fafafa;
  padding-left: 10px;
}

.second-intro {
  font-family: 'Orbitron', sans-serif;
  color: #fafafa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(0.6rem + 1.5vw);
  text-align: center;
}

.first-intro {
  font-family: 'Orbitron', sans-serif;
  font-size: calc(1.2rem + 1.5vw);
  color: #fafafa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game-reveal-div-1 {
  height: 100vh;
  width: 50vw;
  display: inline-block;
  position: absolute;
  z-index: 1;
  background-image: url(../images/Intro-bg-img.jpg);
  background-size: cover;
}

#game-reveal-div-2 {
  height: 100vh;
  width: 50vw;
  display: inline-block;
  left: 50vw;
  position: absolute;
  z-index: 1;
  background-image: url(../images/Intro-bg-img.jpg);
  background-size: cover;
}

#progress-display,
#display {
  font-family: 'Goldman', cursive;
  color: #AB95BA;
  width: fit-content;
  height: fit-content;
}

/*---------------------------------------------Animation + Keyframes-------------*/

.second-intro,
.first-intro {
  animation: intro 4s ease-out 0.25s;
}

@keyframes intro {
  0% {
    color: #fafafa;
  }

  35% {
    color: #a27aab;
  }

  70% {
    color: #723894;
  }

  100% {
    color: #572673;
  }
}

#display {
  animation: answer-text-enlarge 2.5s forwards;
}

@keyframes answer-text-enlarge {
  from {
    font-size: 5rem;
  }

  to {
    font-size: 10.1rem;
  }
}

#progress-display {
  animation: progress-text-enlarge 2.5s forwards;
}

@keyframes progress-text-enlarge {
  from {
    font-size: 2.2rem;
  }

  to {
    font-size: 3.2rem;
  }
}

.correct {
  animation: correct-answer 2s alternate infinite;
  -webkit-animation: correct-answer 2s alternate infinite;
}

@keyframes correct-answer {
  0% {
    background: #00D100;
  }

  25% {
    background: #00FF00;
  }

  50% {
    background: #00D100;
  }

  100% {
    background: #00FF00;
  }
}

@-webkit-keyframes correct-answer {
  0% {
    background: #00D100;
  }

  25% {
    background: #00FF00;
  }

  50% {
    background: #00D100;
  }

  100% {
    background: #00FF00;
  }
}

.incorrect {
  animation: incorrect-answer 2s alternate infinite;
  -webkit-animation: incorrect-answer 2s alternate infinite;
}

@keyframes incorrect-answer {
  0% {
    background: #D10000;
  }

  25% {
    background: #FF0000;
  }

  50% {
    background: #D10000;
  }

  100% {
    background: #FF0000;
  }
}

@-webkit-keyframes incorrect-answer {
  0% {
    background: #D10000;
  }

  25% {
    background: #FF0000;
  }

  50% {
    background: #D10000;
  }

  100% {
    background: #FF0000;
  }
}

/*---------------------------------------------Utility-Classes-------------*/

footer {
  font-family: 'Orbitron', sans-serif;
  line-height: 2rem;
  letter-spacing: .1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fafafa;
  background-color: rgba(72, 45, 166, 0.75);
  width: 100vw;
}

.hidden {
  display: none;
}

.rules-spacer {
  margin: 30px 15px;
}

/*---------------------------------------------Media-Queries-------------*/

@media (min-width: 285px) {

  .btn-main-menu {
    width: 200px;
  }

  input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin: 0px;
  }

  .dropdown-item {
    font-size: calc(0.4rem + 1.5vw);
    font-weight: 700;
    width: 115px;
  }

  #btn-close-options,
  #btn-exit {
    margin-left: 23px;
    margin-top: 5px;
  }

  #btn-options {
    font-size: calc(0.4rem + 1.5vw);
    width: 115px;
    margin-top: 28px;
    margin-right: 8px;
  }

  #display {
    animation: answer-text-enlarge 2.5s forwards;
  }

  @keyframes answer-text-enlarge {
    from {
      font-size: 0.8rem;
    }

    to {
      font-size: 2.8rem;
    }
  }
}

@media (min-width: 518px) {

  .dropdown-item {
    font-size: calc(0.3rem + 1.5vw);
  }
}

@media (min-width: 576px) {

  #btn-options {
    width: 168px;
  }

  .dropdown-item {
    width: 125px;
  }

  #display {
    animation: answer-text-enlarge 2.5s forwards;
  }

  @keyframes answer-text-enlarge {
    from {
      font-size: 3.5rem;
    }

    to {
      font-size: 5.5rem;
    }
  }


  #progress-display {
    animation: progress-text-enlarge 2.5s forwards;
  }

  @keyframes progress-text-enlarge {
    0% {
      font-size: 3.5rem;
    }

    100% {
      font-size: 4.5rem;
    }
  }
}

@media (min-width: 650px) {
  .btn-option {
    font-size: calc(0.2rem + 1.5vw);
  }
}

@media (min-width: 767px) {
  .dropdown-item {
    width: 138px;
    font-size: calc(0.2rem + 1.5vw);
    font-weight: 500;
  }

  #btn-options {
    width: 181.3px;
  }
}

@media (min-width: 900px) {
  .dropdown-item {
    width: 145px;
  }

  #btn-options {
    width: 188.3px;
  }

  #display {
    animation: answer-text-enlarge 2.5s forwards;
  }

  @keyframes answer-text-enlarge {
    from {
      font-size: 5.5rem;
    }

    to {
      font-size: 7.5rem;
    }
  }

  #progress-display {
    animation: progress-text-enlarge 2.5s forwards;
  }

  @keyframes progress-text-enlarge {
    0% {
      font-size: 3.5rem;
    }

    100% {
      font-size: 4.5rem;
    }
  }
}


@media (min-width: 990px) {
  .btn-option {
    height: 72px;
  }

  .dropdown-item {
    width: 165px;
  }

  #btn-options {
    width: 208.3px;
  }
}

@media (min-width: 1200px) {
  .btn-option {
    width: 330px;
  }

  .dropdown-item {
    width: 185px;
  }

  #btn-options {
    width: 228.3px;
  }


  #display {
    animation: answer-text-enlarge 2.5s forwards;
  }

  @keyframes answer-text-enlarge {
    from {
      font-size: 7.5rem;
    }

    to {
      font-size: 9.5rem;
    }
  }
}

@media (min-width: 1330px) {
  .btn-option {
    font-size: calc(0.3rem + 1.5vw);
    height: 80px;
  }

  .btn-main-menu {
    width: 260px;
  }

  .dropdown-item {
    font-size: calc(0.01rem + 1.5vw);
    font-weight: 400;
  }

}

@media (min-width: 1500px) {
  .btn-option {
    width: 350px;
  }
}

@media (min-width: 1600px) {
  .dropdown-item {
    width: 195px;
    font-weight: 400;
  }

  #btn-options {
    width: 238.3px;
  }

  #btn-close-options,
  #btn-exit {
    margin-left: 38px;
  }
}


@media (min-width: 1660px) {
  .btn-option {
    height: 100px;
    font-size: 1.9rem;
  }

  input[type="checkbox"] {
    height: 32px;
    width: 32px;
  }

  .dropdown-item {
    width: 205px;
  }

  #btn-options {
    width: 262.3px;
  }


  #question-area {
    font-size: 2rem;
  }
}

@media (min-width: 1810px) {

  .dropdown-item {
    width: 225px;
  }

  .btn-main-menu {
    font-size: 2rem;
  }

  #btn-options {
    width: 272.3px;
  }

  #exit-button {
    margin-right: 290px;
  }
}